.curations{
    color: rgb(14, 56, 44);
    .container{
        padding: 75px 100px;
        h3{
            font-weight: 500;
            font-size: 30px;
        }
        .menu{
            display: flex;
            gap: 100px;
            overflow-x: scroll;
            margin-top: 50px;
            &::-webkit-scrollbar{
                display: none;
            }
            .items{
                max-width: max-content;
                display: flex;
                gap: 15px;
                align-items: center;
                flex-direction: column;
                img{
                    display: block;
                    border-radius: 100px;
                    width: 125px;
                }
                h4{
                    font-weight: 500;
                }
            }
        }
    }
}